<body>
<p>First Name: <%= @order.first_name %> </p>
<h3>Flavors:</h3>
<form action="/orderflavors/new" method="link">
<input type="submit" value="Add a flavor">
</form>
<ul>
  <% order.orderflavors.each do |orderflavor| %>
    <li>
    <%= orderflavor.flavor.name %> 
      <form action='/orderflavors/<%= orderflavor.id %>/delete' method='POST'>
            <input type='hidden' name='_method' value='DELETE'/>
            <button>Delete</button>
          </form>
    </li>
  <% end %>
</ul>
<h3>Toppings:</h3>

<form action="/ordertoppings/new" method="link">
<input type="submit" value="Add a topping">
</form>
<ul>
  <% order.ordertoppings.each do |ordertopping| %>
    <li>
    <%= ordertopping.topping.name %> 
      <form action='/ordertoppings/<%= ordertopping.id %>/delete' method='POST'>
            <input type='hidden' name='_method' value='DELETE'/>
            <button>Delete</button>
          </form>
    </li>
  <% end %>
</ul>

</body>

