Id: <%= @customer.id %>
<h1>Flavors:</h1>
<ul>
	<% order.flavors.each do |flavor| %>
		<li><%= flavor.name %>, <%= flavor.cost %></li>
	<%= end %>
</ul>

<h2>Toppings:</h2>
<ul>
	<% order.toppings.each do |topping| %>
		<li><%= topping.name %> , <%= topping.cost %></li>
	<%= end %>
</ul>

